        body {
            margin: 0;
            padding: 0;
            font-family: 'Open Sans', sans-serif
        }
        
        img {
            width: 100%
        }
        
        .top-header {
            margin-top: 16px
        }
        
        .text-logo {
            text-transform: uppercase;
            font-size: 40px;
            font-weight: 900;
            width: 58%;
            text-align: center;
            background: linear-gradient(to bottom, red 30%, #7A0C0C 50%);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text
        }
        
        .search-option-5 button.button {
            display: inline-block;
            border: none;
            background: none;
            padding: 0
        }
        
        .search-option {
            background: #fff none repeat scroll 0 0;
            bottom: -5px;
            color: #444;
            display: none;
            position: absolute;
            right: 1px;
            width: 260px;
            z-index: 99999
        }
        
        .search-option input {
            background: #fff none repeat scroll 0 0;
            border: 1px solid #1E428A;
            color: #444;
            display: block;
            float: left;
            font-size: 14px;
            font-style: italic;
            padding: 8px 10px;
            width: 225px;
            height: 34px
        }
        
        .search-option button.button {
            background: #1e428a;
            border: medium none;
            color: #fff;
            display: inline-block;
            float: right;
            font-size: 14px;
            line-height: 34px;
            padding: 0 11px;
            text-align: center
        }
        
        .header a.main-search {
            color: #fff;
            left: -84%;
            display: inline-block;
            float: right;
            font-size: 13px;
            line-height: 33px;
            position: relative;
            text-align: center;
            width: 34px;
            height: 34px;
            background: #1e428a;
            border-radius: 5px;
            margin-top: 13px
        }
        
        .language img {
            width: 47%
        }
        
        .language {
            display: inline;
            flex-direction: row;
            margin: 0;
            position: absolute;
            left: 69%;
            top: 21%
        }
        
        div#mm-2 {
            background: #498BCE!important
        }
        
        .language li {
            display: inline
        }
        
        .menu-prod {
            float: right;
            width: 37px;
            text-align: center;
            padding: 7px;
            background: #0056B3;
            display: none;
            margin-top: 5px
        }
        
        .menu-produ {
            float: right;
            width: 37px;
            text-align: center;
            padding: 7px;
            background: #0056B3;
            display: none;
            margin-top: 5px
        }
        
        .menu-prod a {
            text-decoration: none;
            color: #fff
        }
        
        .menu-produ a {
            text-decoration: none;
            color: #fff
        }
        
        .menu-prod i {
            font-size: 18px
        }
        
        .menu-produ i {
            font-size: 18px
        }
        
        #menu-reponsiv {
            text-transform: uppercase
        }
        
        #menu-reponsive {
            text-transform: uppercase
        }
        
        ul.mm-listview {
            background: #0056B3
        }
        
        li.mm-listitem {
            color: #fff;
            font-weight: 600
        }
        
        div#panel-menu {
            background: #0056B3
        }
        
        @media(max-width:1199px) {
            .text-logo-en {
                font-size: 36px!important
            }
            .list-menu-wood-EN li {
                font-size: 14px
            }
        }
        
        @media (max-width:991px) {
            .menu-prod {
                display: block
            }
            .list-menu-wood {
                display: none!important
            }
            .text-company {
                font-size: 14px
            }
            h3.title-company {
                font-size: 25px!important
            }
            h2.title-achievements,
            h2.title-partner {
                font-size: 29px!important
            }
            .list-menu-product {
                display: none!important
            }
            .list-new-product li {
                font-size: 15px;
                padding: 11px 0!important
            }
            .menu-produ {
                display: block
            }
            .mid-header .container {
                overflow: hidden
            }
            .header .mid-header {
                margin-top: 0;
                background: unset
            }
            .header .menu-mobile {
                display: block
            }
            .mid-header .menu-social {
                display: none
            }
            .mid-header .menu-desktop {
                display: none
            }
            .language {
                left: 60%;
                top: 19%;
                display: none
            }
            .header a.main-search {
                display: none
            }
            .text-logo {
                font-size: 29px;
                text-align: left
            }
            .search-top-header {
                display: none
            }
            .logo-gold img {
                top: 72%!important
            }
        }
        
        @media (max-width:767px) {
            .text-logo-en {
                font-size: 26px!important
            }
            footer.footer {
                padding: 15px 0!important
            }
            .text-company {
                font-size: 14px
            }
            h3.title-company {
                font-size: 22px!important
            }
            .logo-gold img {
                top: 79%!important;
                width: 22%!important
            }
            h2.title-achievements,
            h2.title-partner {
                font-size: 21px!important;
                padding: 20px 0!important
            }
            .product-slide button {
                display: none!important
            }
            .list-new-product li {
                font-size: 17px
            }
            .top-header {
                margin-top: 0
            }
            .search .menu-mobile {
                float: right;
                text-align: center;
                padding: 2px 7px;
                background: #0056B3;
                margin-top: 10px
            }
            .text-logo {
                font-size: 21px;
                margin-top: 10px
            }
            .logo img {
                width: 114%;
                margin-top: 10px
            }
            .new-product {
                padding: 15px 0!important
            }
            .slide-house {
                margin: 0!important
            }
        }
        
        @media(max-width:576px) {
            .text-logo-en {
                font-size: 22px!important
            }
            h3.title-company {
                font-size: 20px!important
            }
            .text-company {
                font-size: 13px!important
            }
            .list-new-product {
                flex-direction: column!important;
                width: 100%!important;
                margin-bottom: 0!important
            }
            .list-new-product li {
                font-size: 13px;
                width: 100%!important;
                border-left: none!important;
                border-right: none!important;
                border-bottom: 1px solid #fff
            }
            .list-new-product li:last-child {
                border-bottom: none
            }
        }
        
        @media (max-width:515px) {
            .text-logo-en {
                font-size: 19px!important
            }
        }
        
        @media (max-width:455px) {
            .text-company {
                font-size: 11px!important
            }
            h3.title-company {
                font-size: 15px!important
            }
            .list-new-product li {
                font-size: 11px
            }
        }
        
        @media (max-width:504px) {
            h2.title-achievements,
            h2.title-partner {
                font-size: 19px!important;
                padding: 13px 0!important
            }
            .text-logo {
                font-size: 19px
            }
            .search .menu-mobile {}
        }
        
        @media (max-width:473px) {
            .search .menu-mobile {
                margin-top: 6px
            }
        }
        
        @media (max-width:452px) {
            .text-logo-en {
                font-size: 16px!important
            }
            .text-logo {
                font-size: 18px
            }
        }
        
        @media (max-width:431px) {
            .text-logo {
                font-size: 17px
            }
        }
        
        @media (max-width:428px) {
            h2.title-achievements,
            h2.title-partner {
                font-size: 16px!important
            }
            .text-logo {
                font-size: 16px
            }
            .logo img {
                width: 138%
            }
        }
        
        @media(max-width:428px) {
            .text-logo {
                font-size: 15px
            }
        }
        
        @media (max-width:368px) {
            h2.title-achievements,
            h2.title-partner {
                font-size: 14px!important
            }
            .text-logo {
                font-size: 14px
            }
            .logo img {
                width: 149%
            }
        }
        
        @media (max-width:346px) {
            .text-logo {
                font-size: 13px
            }
        }
        
        @media (max-width: 326px) {
            .text-logo {
                font-size: 12px!important
            }
        }
        
        @media (max-width:315px) {
            h2.title-achievements,
            h2.title-partner {
                font-size: 13px!important;
                padding: 10px 0!important
            }
            .text-logo {
                font-size: 13px
            }
        }
        
        .mid-header {
            background: #005EC5;
            margin-top: 5px
        }
        
        .menu-desktop {
            display: flex;
            margin: 0;
            height: 50px
        }
        
        .menu-desktop>li {
            text-transform: uppercase;
            position: relative;
            text-align: center;
            width: 16.666%;
            padding-top: 14px;
            font-size: 14px
        }
        
        .menu-desktop>li>a {
            text-decoration: none;
            font-weight: 700;
            color: #fff
        }
        
        .menu-desktop>li:before {
            content: '';
            background: #fff;
            width: 0;
            height: 2px;
            left: 0;
            transition: all linear .5s;
            position: absolute;
            top: 0
        }
        
        .menu-desktop>li:hover:before {
            width: 100%
        }
        
        .drop-dow {
            background: #005ec5;
            border-top: 2px solid #1e428a;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 115%;
            transition: all .3s ease 0;
            visibility: hidden;
            width: 220px;
            z-index: -99
        }
        
        .drop-dow li {
            border-bottom: 1px solid #ddd;
            padding: 0;
            position: relative;
            width: 100%
        }
        
        .drop-dow>li>a {
            color: #fff;
            display: block;
            font-size: 13px;
            font-weight: 700;
            padding: 10px 15px;
            text-transform: uppercase
        }
        
        .drop-dow>li>a:hover {
            color: #fff;
            background: #1e428a
        }
        
        li:hover .drop-dow {
            top: 100%;
            opacity: 1;
            z-index: 999;
            visibility: visible
        }
        
        .menu-desktop li:hover .drop-dow {
            display: block;
            transition: .9s
        }
        
        .menu-social {
            display: flex;
            margin-top: 11px;
            margin-bottom: 0
        }
        
        .menu-social li a img {
            width: 66%
        }
        
        .menu-mobile {
            float: right;
            width: 37px;
            text-align: center;
            padding: 7px;
            background: #0056B3;
            display: none
        }
        
        .menu-mobile a {
            text-decoration: none;
            color: #fff
        }
        
        .menu-mobile i {
            font-size: 18px
        }
        
        #menu {
            text-transform: uppercase
        }
        
        ul.mm-listview {
            background: #0056B3
        }
        
        li.mm-listitem {
            color: #fff;
            font-weight: 600
        }
        
        .slider-banner .slick-dots {
            bottom: 0
        }
        
        .slider-banner .slick-dots li.slick-active button:before {
            opacity: 1;
            color: #fff
        }
        
        .slider-banner .slick-dots li button:before {
            opacity: .65;
            color: #000;
            font-size: 36px
        }
        
        @media (max-width:767px) {
            .slider-banner .slick-dots li button:before {
                display: none!important
            }
        }
        
        h2.title-business-areas {
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
            color: #fff;
            margin-bottom: 66px;
            font-size: 25px;
            line-height: 1.3em;
        }
        
        .all-areas {
            padding: 50px 0;
        }
        
        .slider-business-areas img {
            padding: 0 5px
        }
        
        .slider-banner .slick-slide,
        .slider-business-areas .slick-slide:focus {
            outline: none!important
        }
        
        .slider-business-areas .slick-next:before {
            content: '\f0da';
            font-family: FontAwesome
        }
        
        .slider-business-areas .slick-prev:before {
            content: '\f0d9';
            font-family: FontAwesome
        }
        
        .slider-business-areas .slick-prev:before,
        .slider-business-areas .slick-next:before {
            opacity: 1;
            font-size: 40px
        }
        
        @media(max-width: 991px) {
            h2.title-business-areas {
                margin-bottom: 46px
            }
            .title-active br {
                display: none;
            }
        }
        
        @media(max-width: 767px) {
            h2.title-business-areas {
                font-size: 21px
            }
            h2.title-business-areas {
                margin-bottom: 30px
            }
            .slider-business-areas button {
                display: none!important
            }
        }
        
        @media(max-width: 576px) {
            .slide-coke {
                margin: 28px 0!important
            }
            .all-areas {
                padding-top: 27px
            }
            .list-product-wood ul {
                display: flex;
                flex-direction: column
            }
            .list-pro img {
                width: 90%!important
            }
            .pagination a {
                font-size: 13px!important
            }
        }
        
        @media(max-width: 504px) {
            h2.title-business-areas {
                font-size: 19px
            }
        }
        
        @media(max-width:462px) {}
        
        @media(max-width: 428px) {
            h2.title-business-areas {
                font-size: 16px
            }
            .all-areas {
                padding-top: 15px
            }
            h2.title-business-areas {
                margin-bottom: 15px
            }
        }
        
        @media(max-width: 389px) {
            .text-logo-en {
                font-size: 14px!important
            }
        }
        
        @media(max-width: 368px) {
            h2.title-business-areas {
                font-size: 14px
            }
        }
        
        @media(max-width: 346px) {
            .text-logo-en {
                font-size: 12px!important
            }
        }
        
        @media(max-width: 315px) {
            h2.title-business-areas {
                font-size: 13px
            }
        }
        
        @media (max-width: 305px) {
            .text-logo-en {
                font-size: 12px!important
            }
        }
        
        .menu-product {
            width: 99%;
            margin: 0 auto
        }
        
        .list-menu-product {
            list-style: none;
            display: flex;
            margin-top: 20px;
            padding: 0;
            background: #000
        }
        
        .list-menu-product li {
            text-transform: uppercase;
            cursor: pointer;
            text-align: center;
            padding: 20px 0;
            width: 16.69%;
            font-weight: 700;
            border-left: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF
        }
        
        .list-menu-product li:first-child {
            border-left: none
        }
        
        .list-menu-product li:last-child {
            border-right: none
        }
        
        .list-menu-product li a {
            text-decoration: none;
            color: #fff
        }
        
        .product-slide {
            margin-top: 50px
        }
        
        .product-slide img {
            padding: 0 5px
        }
        
        .product-slide .slick-slide,
        .product-slide .slick-slide:focus {
            outline: none!important
        }
        
        .product-slide .slick-next:before {
            content: '\f0da';
            font-family: FontAwesome
        }
        
        .product-slide .slick-prev:before {
            content: '\f0d9';
            font-family: FontAwesome
        }
        
        .product-slide .slick-prev:before,
        .product-slide .slick-next:before {
            opacity: 1;
            font-size: 40px
        }
        
        .active {
            background: #005EC5!important
        }
        
        .list-new-product {
            display: flex;
            background: #000;
            list-style-type: none;
            width: 99%;
            margin: 0 auto;
            padding-left: 0
        }
        
        .list-new-product li {
            width: 50%;
            text-align: center;
            padding: 20px 0;
            font-weight: 700;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff
        }
        
        .list-new-product li:first-child {
            border-left: none
        }
        
        .list-new-product li:last-child {
            border-right: none
        }
        
        .list-new-product li a {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase
        }
        
        .slide-coke .slick-slide,
        .slide-coke .slick-slide:focus {
            outline: none!important
        }
        
        .slide-house .slick-slide,
        .slide-house .slick-slide:focus {
            outline: none!important
        }
        
        .new-product {
            background: url(../IMG/background-areas.png) top center no-repeat;
            background-size: cover;
            padding: 40px 0
        }
        
        .list-new-product {
            margin-bottom: 30px
        }
        
        .slick-slide,
        .slick-slide:focus {
            outline: none!important
        }
        
        .slide-coke {
            margin: 40px 0
        }
        
        .slide-house {
            margin: 40px 0
        }
        
        h2.title-achievements,
        h2.title-partner {
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            padding: 30px 0;
            font-size: 25px;
        }
        
        .pic-partner img {
            padding: 0 5px
        }
        
        .logo-gold {}
        
        .logo-gold img {
            width: 19%;
            position: absolute;
            top: 59%;
            right: 0
        }
        
        footer.footer {
            padding: 30px 0;
            background: #005EC5
        }
        
        .text-company {
            color: #fff;
            font-size: 15px
        }
        
        h3.title-company {
            font-weight: 600;
            color: #fff
        }
        
        .all-logo-gold {
            position: relative
        }
        
        .list-menu-wood {
            list-style: none;
            display: flex;
            padding: 0;
            background: #000;
            margin: 0
        }
        
        .list-menu-wood li {
            padding: 20px 0;
            width: 16.69%;
            border-left: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF;
            cursor: pointer;
            text-align: center
        }
        
        .list-menu-wood li:first-child {
            border-left: none
        }
        
        .list-menu-wood li:last-child {
            border-right: none
        }
        
        .menu-product-wood {
            width: 100%;
            margin: 0 auto;
            margin-top: -30px;
            background: url(../IMG/background-areas.png) top center no-repeat;
            background-size: cover
        }
        
        .list-menu-wood li a {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700
        }
        
        .list-product-wood {
            padding: 80px 0
        }
        
        article.list-pro>ul>li {
            display: inline
        }
        
        .list-pro img {
            width: 24%;
            padding: 5px
        }
        
        .all-menu-product-wood {
            padding-top: 40px
        }
        
        .pagination {
            display: flex;
            width: 100%;
            justify-content: center;
            padding-bottom: 20px
        }
        
        .pagination a {
            color: #fff;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s
        }
        
        .pagination a.active {
            color: #000
        }
        
        .pagination a:hover:not(.active) {
            background-color: #ddd;
            color: #000
        }
        
        .fix-en {}
        
        body {
            margin: 0;
            padding: 0;
            font-family: 'Open Sans', sans-serif
        }
        
        img {
            width: 100%
        }
        
        .top-header {
            margin-top: 16px
        }
        
        .text-logo {
            text-transform: uppercase;
            font-size: 40px;
            font-weight: 900;
            width: 58%;
            text-align: center;
            background: linear-gradient(to bottom, red 30%, #7A0C0C 50%);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text
        }
        
        .search-option-5 button.button {
            display: inline-block;
            border: none;
            background: none;
            padding: 0
        }
        
        .search-option {
            background: #fff none repeat scroll 0 0;
            bottom: -5px;
            color: #444;
            display: none;
            position: absolute;
            right: 1px;
            width: 260px;
            z-index: 99999
        }
        
        .search-option input {
            background: #fff none repeat scroll 0 0;
            border: 1px solid #1E428A;
            color: #444;
            display: block;
            float: left;
            font-size: 14px;
            font-style: italic;
            padding: 8px 10px;
            width: 225px;
            height: 34px
        }
        
        .search-option button.button {
            background: #1e428a;
            border: medium none;
            color: #fff;
            display: inline-block;
            float: right;
            font-size: 14px;
            line-height: 34px;
            padding: 0 11px;
            text-align: center
        }
        
        .header a.main-search {
            color: #fff;
            left: -84%;
            display: inline-block;
            float: right;
            font-size: 13px;
            line-height: 33px;
            position: relative;
            text-align: center;
            width: 34px;
            height: 34px;
            background: #1e428a;
            border-radius: 5px;
            margin-top: 13px
        }
        
        .language img {
            width: 47%
        }
        
        .language {
            display: inline;
            flex-direction: row;
            margin: 0;
            position: absolute;
            left: 69%;
            top: 21%
        }
        
        div#mm-2 {
            background: #498BCE!important
        }
        
        .language li {
            display: inline
        }
        
        .menu-prod {
            float: right;
            width: 37px;
            text-align: center;
            padding: 7px;
            background: #0056B3;
            display: none;
            margin-top: 5px
        }
        
        .menu-produ {
            float: right;
            width: 37px;
            text-align: center;
            padding: 7px;
            background: #0056B3;
            display: none;
            margin-top: 5px
        }
        
        .menu-prod a {
            text-decoration: none;
            color: #fff
        }
        
        .menu-produ a {
            text-decoration: none;
            color: #fff
        }
        
        .menu-prod i {
            font-size: 18px
        }
        
        .menu-produ i {
            font-size: 18px
        }
        
        #menu-reponsiv {
            text-transform: uppercase
        }
        
        #menu-reponsive {
            text-transform: uppercase
        }
        
        ul.mm-listview {
            background: #0056B3
        }
        
        li.mm-listitem {
            color: #fff;
            font-weight: 600
        }
        
        div#panel-menu {
            background: #0056B3
        }
        
        @media(max-width:1199px) {
            .text-logo-en {
                font-size: 36px!important
            }
            .list-menu-wood-EN li {
                font-size: 14px
            }
        }
        
        @media (max-width:991px) {
            .menu-prod {
                display: block
            }
            .list-menu-wood {
                display: none!important
            }
            .text-company {
                font-size: 14px
            }
            h3.title-company {
                font-size: 25px!important
            }
            h2.title-achievements,
            h2.title-partner {
                font-size: 29px!important
            }
            .list-menu-product {
                display: none!important
            }
            .list-new-product li {
                font-size: 15px;
                padding: 11px 0!important
            }
            .menu-produ {
                display: block
            }
            .mid-header .container {
                overflow: hidden
            }
            .header .mid-header {
                margin-top: 0;
                background: unset
            }
            .header .menu-mobile {
                display: block
            }
            .mid-header .menu-social {
                display: none
            }
            .mid-header .menu-desktop {
                display: none
            }
            .language {
                left: 60%;
                top: 19%;
                display: none
            }
            .header a.main-search {
                display: none
            }
            .text-logo {
                font-size: 29px;
                text-align: left
            }
            .search-top-header {
                display: none
            }
            .logo-gold img {
                top: 72%!important
            }
        }
        
        @media (max-width:767px) {
            .text-logo-en {
                font-size: 26px!important
            }
            footer.footer {
                padding: 15px 0!important
            }
            .text-company {
                font-size: 14px
            }
            h3.title-company {
                font-size: 22px!important
            }
            .logo-gold img {
                top: 79%!important;
                width: 22%!important
            }
            h2.title-achievements,
            h2.title-partner {
                font-size: 21px!important;
                padding: 20px 0!important
            }
            .product-slide button {
                display: none!important
            }
            .list-new-product li {
                font-size: 17px
            }
            .top-header {
                margin-top: 0
            }
            .search .menu-mobile {
                float: right;
                text-align: center;
                padding: 2px 7px;
                background: #0056B3;
                margin-top: 10px
            }
            .text-logo {
                font-size: 21px;
                margin-top: 10px
            }
            .logo img {
                width: 114%;
                margin-top: 10px
            }
            .new-product {
                padding: 15px 0!important
            }
            .slide-house {
                margin: 0!important
            }
        }
        
        @media(max-width:576px) {
            .text-logo-en {
                font-size: 22px!important
            }
            h3.title-company {
                font-size: 20px!important
            }
            .text-company {
                font-size: 13px!important
            }
            .list-new-product {
                flex-direction: column!important;
                width: 100%!important;
                margin-bottom: 0!important
            }
            .list-new-product li {
                font-size: 13px;
                width: 100%!important;
                border-left: none!important;
                border-right: none!important;
                border-bottom: 1px solid #fff
            }
            .list-new-product li:last-child {
                border-bottom: none
            }
        }
        
        @media (max-width:515px) {
            .text-logo-en {
                font-size: 19px!important
            }
        }
        
        @media (max-width:455px) {
            .text-company {
                font-size: 11px!important
            }
            h3.title-company {
                font-size: 15px!important
            }
            .list-new-product li {
                font-size: 11px
            }
        }
        
        @media (max-width:504px) {
            h2.title-achievements,
            h2.title-partner {
                font-size: 19px!important;
                padding: 13px 0!important
            }
            .text-logo {
                font-size: 19px
            }
            .search .menu-mobile {}
        }
        
        @media (max-width:473px) {
            .search .menu-mobile {
                margin-top: 6px
            }
        }
        
        @media (max-width:452px) {
            .text-logo-en {
                font-size: 16px!important
            }
            .text-logo {
                font-size: 18px
            }
        }
        
        @media (max-width:431px) {
            .text-logo {
                font-size: 17px
            }
        }
        
        @media (max-width:428px) {
            h2.title-achievements,
            h2.title-partner {
                font-size: 16px!important
            }
            .text-logo {
                font-size: 16px
            }
            .logo img {
                width: 138%
            }
        }
        
        @media(max-width:428px) {
            .text-logo {
                font-size: 15px
            }
        }
        
        @media (max-width:368px) {
            h2.title-achievements,
            h2.title-partner {
                font-size: 14px!important
            }
            .text-logo {
                font-size: 14px
            }
            .logo img {
                width: 149%
            }
        }
        
        @media (max-width:346px) {
            .text-logo {
                font-size: 13px
            }
        }
        
        @media (max-width: 326px) {
            .text-logo {
                font-size: 12px!important
            }
        }
        
        @media (max-width:315px) {
            h2.title-achievements,
            h2.title-partner {
                font-size: 13px!important;
                padding: 10px 0!important
            }
            .text-logo {
                font-size: 13px
            }
        }
        
        .mid-header {
            background: #005EC5;
            margin-top: 5px
        }
        
        .menu-desktop {
            display: flex;
            margin: 0;
            height: 50px
        }
        
        .menu-desktop>li {
            text-transform: uppercase;
            position: relative;
            text-align: center;
            width: 16.666%;
            padding-top: 14px;
            font-size: 14px
        }
        
        .menu-desktop>li>a {
            text-decoration: none;
            font-weight: 700;
            color: #fff
        }
        
        .menu-desktop>li:before {
            content: '';
            background: #fff;
            width: 0;
            height: 2px;
            left: 0;
            transition: all linear .5s;
            position: absolute;
            top: 0
        }
        
        .menu-desktop>li:hover:before {
            width: 100%
        }
        
        .drop-dow {
            background: #005ec5;
            border-top: 2px solid #1e428a;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 115%;
            transition: all .3s ease 0;
            visibility: hidden;
            width: 220px;
            z-index: -99
        }
        
        .drop-dow li {
            border-bottom: 1px solid #ddd;
            padding: 0;
            position: relative;
            width: 100%
        }
        
        .drop-dow>li>a {
            color: #fff;
            display: block;
            font-size: 13px;
            font-weight: 700;
            padding: 10px 15px;
            text-transform: uppercase
        }
        
        .drop-dow>li>a:hover {
            color: #fff;
            background: #1e428a
        }
        
        li:hover .drop-dow {
            top: 100%;
            opacity: 1;
            z-index: 999;
            visibility: visible
        }
        
        .menu-desktop li:hover .drop-dow {
            display: block;
            transition: .9s
        }
        
        .menu-social {
            display: flex;
            margin-top: 11px;
            margin-bottom: 0
        }
        
        .menu-social li a img {
            width: 66%
        }
        
        .menu-mobile {
            float: right;
            width: 37px;
            text-align: center;
            padding: 7px;
            background: #0056B3;
            display: none
        }
        
        .menu-mobile a {
            text-decoration: none;
            color: #fff
        }
        
        .menu-mobile i {
            font-size: 18px
        }
        
        #menu {
            text-transform: uppercase
        }
        
        ul.mm-listview {
            background: #0056B3
        }
        
        li.mm-listitem {
            color: #fff;
            font-weight: 600
        }
        
        .slider-banner .slick-dots {
            bottom: 0
        }
        
        .slider-banner .slick-dots li.slick-active button:before {
            opacity: 1;
            color: #fff
        }
        
        .slider-banner .slick-dots li button:before {
            opacity: .65;
            color: #000;
            font-size: 36px
        }
        
        @media (max-width:767px) {
            .slider-banner .slick-dots li button:before {
                display: none!important
            }
        }
        
        .business-areas {
            background: url(..//IMG/background-areas.png) top center repeat;
            background-size: cover;
            margin-top: 0px;
        }
        
        .slider-business-areas img {
            padding: 0 5px
        }
        
        .slider-banner .slick-slide,
        .slider-business-areas .slick-slide:focus {
            outline: none!important
        }
        
        .slider-business-areas .slick-next:before {
            content: '\f0da';
            font-family: FontAwesome
        }
        
        .slider-business-areas .slick-prev:before {
            content: '\f0d9';
            font-family: FontAwesome
        }
        
        .slider-business-areas .slick-prev:before,
        .slider-business-areas .slick-next:before {
            opacity: 1;
            font-size: 40px
        }
        
        @media(max-width: 991px) {}
        
        @media(max-width: 767px) {
            h2.title-business-areas {
                font-size: 21px
            }
            h2.title-business-areas {
                margin-bottom: 30px
            }
            .slider-business-areas button {
                display: none!important
            }
        }
        
        @media(max-width: 576px) {
            .slide-coke {
                margin: 28px 0!important
            }
            .all-areas {
                padding-top: 27px
            }
            .list-product-wood ul {
                display: flex;
                flex-direction: column
            }
            .list-pro img {
                width: 90%!important
            }
            .pagination a {
                font-size: 13px!important
            }
        }
        
        @media(max-width: 504px) {
            h2.title-business-areas {
                font-size: 19px
            }
        }
        
        @media(max-width:462px) {}
        
        @media(max-width: 428px) {
            h2.title-business-areas {
                font-size: 16px
            }
            .all-areas {
                padding-top: 15px
            }
            h2.title-business-areas {
                margin-bottom: 15px
            }
        }
        
        @media(max-width: 389px) {
            .text-logo-en {
                font-size: 14px!important
            }
        }
        
        @media(max-width: 368px) {
            h2.title-business-areas {
                font-size: 14px
            }
        }
        
        @media(max-width: 346px) {
            .text-logo-en {
                font-size: 12px!important
            }
        }
        
        @media(max-width: 315px) {
            h2.title-business-areas {
                font-size: 13px
            }
        }
        
        @media (max-width: 305px) {
            .text-logo-en {
                font-size: 12px!important
            }
        }
        
        .menu-product {
            width: 99%;
            margin: 0 auto
        }
        
        .list-menu-product {
            list-style: none;
            display: flex;
            margin-top: 20px;
            padding: 0;
            background: #000
        }
        
        .list-menu-product li {
            text-transform: uppercase;
            cursor: pointer;
            text-align: center;
            padding: 20px 0;
            width: 16.69%;
            font-weight: 700;
            border-left: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF
        }
        
        .list-menu-product li:first-child {
            border-left: none
        }
        
        .list-menu-product li:last-child {
            border-right: none
        }
        
        .list-menu-product li a {
            text-decoration: none;
            color: #fff
        }
        
        .product-slide {
            margin-top: 50px
        }
        
        .product-slide img {
            padding: 0 5px
        }
        
        .product-slide .slick-slide,
        .product-slide .slick-slide:focus {
            outline: none!important
        }
        
        .product-slide .slick-next:before {
            content: '\f0da';
            font-family: FontAwesome
        }
        
        .product-slide .slick-prev:before {
            content: '\f0d9';
            font-family: FontAwesome
        }
        
        .product-slide .slick-prev:before,
        .product-slide .slick-next:before {
            opacity: 1;
            font-size: 40px
        }
        
        .active {
            background: #005EC5!important
        }
        
        .list-new-product {
            display: flex;
            background: #000;
            list-style-type: none;
            width: 99%;
            margin: 0 auto;
            padding-left: 0
        }
        
        .list-new-product li {
            width: 50%;
            text-align: center;
            padding: 20px 0;
            font-weight: 700;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff
        }
        
        .list-new-product li:first-child {
            border-left: none
        }
        
        .list-new-product li:last-child {
            border-right: none
        }
        
        .list-new-product li a {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase
        }
        
        .slide-coke .slick-slide,
        .slide-coke .slick-slide:focus {
            outline: none!important
        }
        
        .slide-house .slick-slide,
        .slide-house .slick-slide:focus {
            outline: none!important
        }
        
        .new-product {
            background: url(../IMG/background-areas.png) top center no-repeat;
            background-size: cover;
            padding: 40px 0
        }
        
        .list-new-product {
            margin-bottom: 30px
        }
        
        .slick-slide,
        .slick-slide:focus {
            outline: none!important
        }
        
        .slide-coke {
            margin: 40px 0
        }
        
        .slide-house {
            margin: 40px 0
        }
        
        .pic-partner img {
            padding: 0 5px
        }
        
        .logo-gold img {
            width: 19%;
            position: absolute;
            top: 59%;
            right: 14px;
        }
        
        footer.footer {
            padding: 30px 0;
            background: #005EC5
        }
        
        .text-company {
            color: #fff;
            font-size: 15px
        }
        
        h3.title-company {
            font-weight: 600;
            color: #fff;
            padding-left: 179px;
        }
        
        .text-company span,
        .text-company aside {
            display: inline-block;
        }
        
        .text-company span {
            width: 126px;
        }
        
        .text-company aside {
            padding-left: 46px;
        }
        
        .all-logo-gold {
            position: relative
        }
        
        .list-menu-wood {
            list-style: none;
            display: flex;
            padding: 0;
            background: #000;
            margin: 0
        }
        
        .list-menu-wood li {
            padding: 20px 0;
            width: 16.69%;
            border-left: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF;
            cursor: pointer;
            text-align: center
        }
        
        .list-menu-wood li:first-child {
            border-left: none
        }
        
        .list-menu-wood li:last-child {
            border-right: none
        }
        
        .menu-product-wood {
            width: 100%;
            margin: 0 auto;
            background: url(../IMG/background-areas.png) top center no-repeat;
            background-size: cover
        }
        
        .list-menu-wood li a {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700
        }
        
        .list-product-wood {
            padding: 80px 0;
        }
        
        article.list-pro>ul>li {
            display: inline
        }
        
        .list-pro img {
            width: 24%;
            padding: 5px
        }
        
        .all-menu-product-wood {
            padding-top: 40px
        }
        
        .pagination {
            display: flex;
            width: 100%;
            justify-content: center;
            padding-bottom: 20px
        }
        
        .pagination a {
            color: #fff;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s
        }
        
        .pagination a.active {
            color: #000
        }
        
        .pagination a:hover:not(.active) {
            background-color: #ddd;
            color: #000
        }
        
        @media (max-width:991px) {
            h3.title-company {
                font-weight: 600;
                color: #fff;
                padding-left: 0px;
            }
            .text-company span,
            .text-company aside {
                display: unset;
            }
            .text-company span {
                width: 100%;
            }
            .text-company aside {
                padding-left: 0px;
            }
        }
        
        .about {
            background: url('../IMG/background-about.jpg') top center no-repeat;
            background-size: cover;
            padding: 72px 0 72px 0;
        }
        
        .about .bg-about {
            background: url(../IMG/bg-in.jpg) center center no-repeat;
            background-size: cover;
            padding: 30px;
            border-radius: 38px;
        }
        
        .about .bg-about .title-about {
            text-transform: uppercase;
            font-size: 25px;
            font-weight: bold;
        }
        
        .about .bg-about .group-about p>span,
        .about .bg-about .group-about p>aside {
            display: inline-block;
        }
        
        .about .bg-about .group-about p>span:first-of-type {
            width: 200px;
            font-weight: bold;
            font-size: 18px;
        }
        
        .about .bg-about .group-about p {
            margin-bottom: 0.5rem;
        }
        
        .about .bg-about .group-about p>span>img {
            width: 48%;
        }
        
        .about .bg-about .group-about p>span:last-of-type {
            font-size: 17px;
            font-weight: bold;
            text-transform: uppercase;
            padding-left: 35px;
        }
        
        .about .group-about {
            padding: 10px 0;
        }
        
        .about .text-about {
            font-size: 18px;
            font-weight: 600;
        }
        
        .slick-dotted.slick-slider {
            margin-bottom: 0px;
        }
        
        @media(max-width:1199px) {
            .about .bg-about .group-about p>span:last-of-type {
                font-size: 15px;
                padding-left: 0px;
            }
            .about .bg-about .group-about p>span:first-of-type {
                width: 178px;
            }
        }
        
        @media (max-width:991px) {
            .about .bg-about .title-about {
                font-size: 22px;
            }
            .about .bg-about .group-about p>span:first-of-type {
                font-size: 16px;
                width: 161px;
            }
            .about .bg-about .group-about p>span:last-of-type {
                font-size: 16px;
            }
            .about .text-about {
                font-size: 16px;
            }
            .about .bg-about .group-about p:nth-of-type(4)>span:last-of-type {
                width: 379px;
                display: inline-flex;
            }
        }
        
        @media(max-width:767px) {
            .about .bg-about .title-about {
                font-size: 16px;
            }
            .about .bg-about .group-about p>span:first-of-type {
                font-size: 13px;
            }
            .about .bg-about .group-about p>span:last-of-type {
                font-size: 13px;
            }
            .about .text-about {
                font-size: 13px;
            }
            .about .bg-about .group-about p:nth-of-type(4)>span:last-of-type {
                width: 258px;
                display: inline-flex;
            }
        }
        
        @media (max-width:517px) {
            .about .bg-about .group-about p>span:first-of-type {
                width: 131px;
            }
        }
        
        @media (max-width:487px) {
            .about .bg-about .group-about p:nth-of-type(4)>span:last-of-type {
                width: 184px;
            }
        }
        
        @media(max-width:413px) {
            .about .bg-about .title-about {
                font-size: 14px;
            }
            .about .bg-about .group-about p>span:last-of-type {
                font-size: 11px;
            }
            .about .bg-about .group-about p>span:first-of-type {
                font-size: 11px;
                width: 107px;
            }
            .about .text-about {
                font-size: 11px;
            }
        }
        
        @media(max-width:389px) {
            .about .bg-about .group-about p:nth-of-type(4)>span:last-of-type {
                width: 158px;
                display: inline;
            }
            .about .bg-about .group-about p>span>img {
                width: 18%;
                padding-bottom: 7px;
            }
            .about .bg-about .title-about {
                font-size: 14px;
            }
            .about .bg-about .group-about p>span:last-of-type {
                font-size: 9px;
                display: inline;
            }
            .about .bg-about .group-about p>span:first-of-type {
                font-size: 10px;
            }
            .about .text-about {
                font-size: 10px;
            }
        }
        
        .all-vision {
            position: relative;
        }
        
        .vision {
            position: absolute;
            top: 31%;
            left: 5%;
            width: 57%;
        }
        
        .vision h1 {
            font-size: 25px;
            padding-bottom: 10px;
            font-weight: bold;
            text-transform: uppercase;
        }
        
        .vision p {
            font-size: 17px;
        }
        
        .fix-value {
            width: 100%;
        }
        
        @media(max-width:1199px) {
            .vision {
                width: 57%;
            }
        }
        
        @media (max-width:991px) {
            .vision h1 {
                font-size: 20px;
            }
            .vision p {
                font-size: 16px;
            }
        }
        
        @media (max-width: 767px) {
            .vision {
                top: 15%;
            }
            .vision p {
                font-size: 14px;
            }
            .vision h1 {
                font-size: 18px;
                padding-bottom: 5px;
            }
        }
        
        @media(max-width:576px) {
            .text-vision {
                padding: 30px 0 30px 0;
            }
        }
        
        @media (max-width: 470px) {
            .vision {
                top: 21%;
            }
            .vision h1 {
                font-size: 13px;
            }
            .vision p {
                font-size: 10px;
            }
        }
        
        @media (max-width: 401px) {
            .vision h1 {
                padding-bottom: 0px;
            }
        }
        
        @media(max-width:363px) {
            .vision {
                top: 11%;
            }
        }
        
        .title-active {
            font-size: 25px;
        }